-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml
.media
  %a.media-left{:href => "#"}
  %img.col-xs-2.md-1.img-fluid{:src => "assets/1.png"}/
  %a.media-left{:href => "#"}
  %img.col-xs-2.img-fluid{:src => "assets/2.png"}/
  %a.media-left{:href => "#"}
  %img.col-xs-2.img-fluid{:src => "assets/3.png"}/
  %a.media-left{:href => "#"}
  %img.col-xs-2.img-fluid{:src => "assets/4.png"}/
  %a.media-left{:href => "#"}
  %img.col-xs-2.img-fluid{:src => "assets/5.png"}/
  %a.media-left{:href => "#"}
  %img.col-xs-2.img-fluid{:src => "assets/6.png"}/
.media
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/7.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/8.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/9.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/10.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/11.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/12.png"}/
.media
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/13.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/14.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/15.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/16.png"}/
  %a.media-left{:href => "#"}
  %img.img-fluid{:src => "assets/17.png"}/